<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vault/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="{% static 'vault/javascript/login.js' %}"></script>
    <meta charset="UTF-8">
    <title>Vault Finder System</title>
</head>
<body>

    <img id="createAccountButton" src="{% static 'vault/images/createAccount.png' %}">

    <div class="vbox-intro-message">
        <div class="v-box">
            <p class="login-tittle">Welcome in our Vault system finder</p>
            <p class="login-quote">Perfect solution for every person</p>
        </div>
    </div>

    <div class="vbox-login">
        <div class="v-box">
        
            <div id="login-params" >
                {% if error_message %}
                    <p><strong>{{ login_error_message }}</strong></p>
                {% endif %}

                {% load widget_tweaks %}

                <form method="post" action="auth_view">
                    {% csrf_token %}
                    <p class="login-quote">Username</p>
                    {{ user_login_form.username |add_class:"login-param" }}
                    <p class="login-quote">Password</p>
                    {{ user_login_form.password |add_class:"login-param" }}

                    <input type="submit" class="submit-button" value="Login" />
                </form>
            </div>
        </div>
    </div>

    <div class="vbox-create-user">
        <div class="v-box">
            <div id="create-user-params" >
                {% if error_message %}
                    <p><strong>{{ create_error_message }}</strong></p>
                {% endif %}

                {% load widget_tweaks %}

                <form method="post" action="create_user_view">
                    {% csrf_token %}
                    <p class="login-quote">Username</p>
                    {{ user_create_form.username |add_class:"login-param" }}
                    <p class="login-quote">Password</p>
                    {{ user_create_form.password1 |add_class:"login-param" }}
                    <p class="login-quote">Repeat password</p>
                    {{ user_create_form.password2 |add_class:"login-param" }}

                    <input type="submit" class="submit-button" value="Create" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>