@font-face {
    font-family: 'overseer';
    src: url('fonts/Overseer Italic.otf') format("opentype");
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;

    background: white url("images/background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.v-wrap-elo{
    height: 100%;
    text-align: center;
    white-space: nowrap;
}

.v-wrap-elo:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    margin-right: -.25em; /*might want to tweak this. .25em for extra white space */
    height: 100%;
}

.v-wrap-login-box{
    height: 100%;
    text-align: center;
    white-space: nowrap;
    display: none;
}

.v-wrap-login-box:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    margin-right: -.25em; /*might want to tweak this. .25em for extra white space */
    height: 100%;
}


.v-box{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    padding: 0 1em;
}

.login-tittle {
    width: 750px;
    margin: auto;
    text-align: center;
    font-family: overseer;
    font-size: 350%;
    color: black;
}

.login-quote {
    width: 400px;
    text-align: center;
    margin: auto;
    font-size: 100%;
    font-family: "Ubuntu Condensed";
    font-style: italic;
}

.login-proceed-button {
    display: block;
    margin: calc(0px - 10% - 40px) auto auto;
    width: 300px;
    height: 40px;
    border-radius: 12px;
    background-color: goldenrod;
    border-style: hidden;

}