{% extends "full.html" %}

{% block title %}{{ overseer.name }}{% endblock %}

{% block head %}
{% load staticfiles %}
<script src="{% static 'bootstrap3_datetime/js/jquery.bracket.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap3_datetime/css/jquery.bracket.min.css' %}" />

{% endblock %}

{% block content %}

{% load bootstrap3 %}

<div class="row">
    <h1>{{ overseer.name }}</h1>
</div>

<div class="row" style="margin-top:10px;">

    <h1 class="fallout-font">Description</h1>
    <div class="container-fluid white-bg" style="margin-bottom:10px;">

        <div>
            <div class = "col-md-6 text-center">
                <dl class="dl-horizontal">
                    <dt>Description</dt>
                    <dd>{{ overseer_contest.description }}</dd>
                    <dt>Limit</dt>
                    <dd>{{ count }}/{{ overseer_contest.limit }}</dd>
                    <dt>Deadline</dt>
                    <dd>{{ overseer_contest.deadline }}</dd>
                    <dt>Start date</dt>
                    <dd>{{ overseer_contest.date }}</dd>
                </dl>
            </div>
            <div class = "col-md-6 text-center">
                <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=150x150&maptype=roadmap&markers=color:blue|{{ overseer.latitude }},{{ overseer.longitude }}"
                     class="img-rounded"/>
            </div>
        </div>
    </div>

    <h1 class="fallout-font">Sponsors</h1>
    <div class="white-bg" >

        <div class="row" style="padding-left: 5%">
            {% for item in overseer_contest.sponsors.all %}
                <div class="col-sm-2">
                    {% load static %}
                    <img style="width: 150px; height: 150px;" src="{% static  item.picture.url %}" alt="{{ item.name }}">
                </div>
            {% endfor %}
        </div>
    </div>

    <h1 class="fallout-font">Actions</h1>
    <div class="white-bg" >


        <div style="padding-left: 10%">

            {% if user == overseer_contest.organizer %}
            <a class="btn btn-default" role="button" href="{% url 'contest:edit' overseer_contest.id %}">Edit</a>
            {% endif %}

            {% if user.is_authenticated %}
            <a class="btn btn-default{% if enrolled != 0 %} disabled{% endif %}" role="button"
               {% if enrolled == 0 %}href="{% url 'contest:join' overseer_contest.id %}"{% endif %}>{% if enrolled != 0 %}You are already enrolled{% else %}Enroll{% endif %} </a>
            {% endif %}
        </div>
    </div>


    <h1 class="fallout-font">Participants of Overseer contest</h1>
    <div class="white-bg">

        <table class="table table-condensed">
            <tr>
                <td>#</td>
                <td>Participant name</td>
                <td>Ranking</td>
            </tr>
            {% for item in enrollments %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.user }}</td>
                <td>{{ item.ranking }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% if matches %}
        <h1 class="fallout-font">Duels</h1>
        <div class="white-bg">

            <table class="table table-condensed">
                <tr>
                    <td>Round</td>
                    <td>Overseer candidate 1</td>
                    <td>Overseer candidate 2</td>
                    <td>Result</td>
                </tr>

                {% for item in matches %}
                <tr{% if item.player_1 == request.user or item.player_2 == request.user %} class="info"{% endif %}>
                    <td>{{ item.round.name }}</td>
                    <td{% if item.player_1 == item.winner %} style="color: green; font-weight: bold"{% endif %}>{{ item.player_1.first_name}} {{ item.player_1.last_name}}</td>
                    <td{% if item.player_2 == item.winner %} style="color: green; font-weight: bold"{% endif %}>{{ item.player_2.first_name}} {{ item.player_2.last_name}}</td>
                    <td>
                        {% if item.winner %}
                            {{ item.score }}
                        {% else %}
                            {% if item.last_filled and item.last_filled == request.user %}
                                Waiting
                            {% elif item.player_1 == request.user or item.player_2 == request.user %}
                                <a href="{% url 'contest:update_duel' item.id %}">Update</a>
                            {% else %}
                                -
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>

        </div>

        <h1 class="fallout-font">Brackets</h1>
        <div class="white-bg">

            <div class="brackets ">
            </div>
        </div>

        <script type="text/javascript">
            {% autoescape off %}
                var data = {{ bracket }}
            {% endautoescape %}
            $('.brackets').bracket({
                skipSecondaryFinal: false,
                init: data
            });
        </script>

    {% endif %}

</div>


{% endblock %}